<%# Used templating variables: active %>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Fish Racing Leaderboards</title>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        tr a { display: none; }
        tr:hover a { display: inline; }
    </style>
</head>
<body class="bg-indigo-50 text-gray-700 font-['Inter'] font-light">
    <!-- Generic header -->
    <header class="mb-4">
        <nav class="flex items-center px-6 py-4">
            <div class="flex gap-x-6 mr-auto">
                <% if (active == 'fish') { %>
                    <a href="/fish"         class="bg-gray-700 text-indigo-50 hover:outline hover:outline-3 hover:outline-gray-700 px-8 py-3 text-lg">Fish</a>
                    <a href="/leaderboards" class="hover:outline hover:outline-3 hover:outline-gray-700 px-8 py-3 text-lg">Leaderboards</a>
                <% } else if (active == 'leaderboards') { %>
                    <a href="/fish"         class="hover:outline hover:outline-3 hover:outline-gray-700 px-8 py-3 text-lg">Fish</a>
                    <a href="/leaderboards" class="bg-gray-700 text-indigo-50 hover:outline hover:outline-3 hover:outline-gray-700 px-8 py-3 text-lg">Leaderboards</a>
                <% } else { %>
                    <a href="/fish"         class="hover:outline hover:outline-3 hover:outline-gray-700 px-8 py-3 text-lg">Fish</a>
                    <a href="/leaderboards" class="hover:outline hover:outline-3 hover:outline-gray-700 px-8 py-3 text-lg">Leaderboards</a>
                <% } %>
            </div>
            <div class="text-lg italic">
                Fish Racing Leaderboards
            </div>
        </nav>
    </header>
