<%- include('components/header', {active: ''}) %>

<!-- Main content -->
<div class="flex-1 mx-auto container flex items-center justify-center">
    <div class="px-8 py-3 text-lg text-rose-50 bg-rose-700 mr-4">
        An error occurred! Use the links above to return to a valid page!
    </div>
</div>

<%- include('components/footer') %>
